@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
::selection {
    color: #ffffff;
    background-color: #000000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Crafty Girls", cursive;
}
body, html {
    height: 100%;
}
.wrapper {
    display: grid;
    grid-template-rows: 10vh 1fr 8vmin;
    min-height: 100%;
}
footer {
    height: 8vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 8vmin 1fr 1fr;
    margin: 0 20vw;
    z-index: 999;
}
footer > .button {
    background-color: #333333;
    display: grid;
    place-items: center;
    border: 1px solid #ffffff88;
    color: #ffffff;
}
footer > .button:not(.middle) {
    font-size: 16pt;
    cursor: pointer;
}
footer > .button:not(.middle):hover {
    background-color: #444444;
}
footer > .button:not(.middle):active {
    background-color: #555555;
}
.middle.button > * {
    background-color: #ffffff;
    height: 6vmin;
    width: 6vmin;
    border-radius: 100%;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.middle.button > * > ion-icon {
    font-size: 32pt;
    color: #000000;
}
.middle.button > *:hover {
    background-color: #ffffffbb;
}
.middle.button > *:active {
    background-color: #ffffff88;
}
.left.button {
    border-radius: 50% 0 0 0;
}
.right.button {
    border-radius: 0 50% 0 0;
}
header {
    padding-top: 2vh;
    text-align: center;
    border-bottom: 2px solid #dddddd;
}
main > section {
    position: absolute;
    width: 100vw;
    min-height: calc(95vh - 10vh - 8vmin);
    transition: all 0.8s ease-in-out;
}
.inactive {
    left: -50vw;
    opacity: 0;
    
}
.active {
    left: 0;
    opacity: 1;
    z-index: 100;
}
main > section h2, main > section h3 {
    text-align: center;
}
main > section#selfSection img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    height: 10vmin;
    width: 10vmin;
}
.familyTree {
    display: flex;
    flex-direction: column;
}
.familyTreeRow {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.familyTreeRow > h3 {
    text-align: center;
}
.familyTreeRow {
    border-top: 1px solid #dbdbdb;
}
.familyTree img {
    width: 10vmin;
    height: 10vmin;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
}
.familyTree ~ button {
    display: block;
    width: 20vw;
    height: 5vh;
    margin: 0 auto;
    
}