@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
::selection {
    color: #ffffff;
    background-color: #000000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
h1 {
    font-family: "Crafty Girls", cursive;
    font-weight: 400;
}
h2 {
    font-weight: 700;
}
.inactive.none {
    display: none;
}
.wrapper {
    display: grid;
    grid-template-rows: 8vh 1fr;
}
footer {
    position: fixed;
    bottom: 0;
    height: 8vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 8vmin 1fr 1fr;
    z-index: 999;
    width: 60vw;
    left: 20vw;
}
footer > .button {
    background-color: #333333;
    display: grid;
    place-items: center;
    border: 1px solid #ffffff88;
    color: #ffffff;
}
footer > .button:not(.middle) {
    font-size: 16pt;
    cursor: pointer;
}
footer > .button:not(.middle):hover {
    background-color: #444444;
}
footer > .button:not(.middle):active {
    background-color: #555555;
}
.middle.button > * {
    background-color: #ffffff;
    height: 6vmin;
    width: 6vmin;
    border-radius: 100%;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.middle.button > * > ion-icon {
    font-size: 32pt;
    color: #000000;
}
.middle.button > *:hover {
    background-color: #ffffffbb;
}
.middle.button > *:active {
    background-color: #ffffff88;
}
.left.button {
    border-radius: 50% 0 0 0;
}
.right.button {
    border-radius: 0 50% 0 0;
}
header {
    height: 8vh;
    padding-top: 2vh;
    text-align: center;
    border-bottom: 2px solid #dddddd;
}
main > section {
    position: absolute;
    width: 100vw;
    min-height: calc(95vh - 10vh - 8vmin);
    transition: all 0.8s ease-in-out;
}
.inactive {
    left: -50vw;
    opacity: 0;
    
}
.active {
    left: 0;
    opacity: 1;
    z-index: 100;
}
main {
    margin: 0 0 8vmin;
}
main > section h2, main > section h3 {
    text-align: center;
}
main > section#selfSection img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    height: 10vmin;
    width: 10vmin;
}
.familyTree {
    display: grid;
    grid-template-columns: 90vw 10vw;
}
.familyTreeRow {
    display: flex;
    flex-direction: row;
    grid-column: 1;
    justify-content: space-evenly;
    height: calc(40px + 10vmin);
}
.familyTreeRowAddBtn {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    border: none;
    border-radius: 25%;
    cursor: pointer;
}
.familyTreeRowAddBtn:nth-of-type(2n) {
    background-color: #cfcfcf;
}
.familyTreeRowAddBtn:nth-of-type(2n+1) {
    background-color: #dfdfdf;
}
.familyTreeRowAddBtn:nth-of-type(2n):hover {
    background-color: #bbbbbb;
}
.familyTreeRowAddBtn:nth-of-type(2n+1):hover {
    background-color: #cccccc;
}
.familyTreeRowAddBtn:nth-of-type(2n):active {
    background-color: #9f9f9f;
}
.familyTreeRowAddBtn:nth-of-type(2n+1):active {
    background-color: #afafaf;
}
.familyTreeRow > h3 {
    text-align: center;
}
.familyTreeRow {
    border-top: 1px solid #dbdbdb;
}
.familyTree img {
    width: 10vmin;
    height: 10vmin;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
}
.familyTree ~ button {
    display: block;
    width: 20vw;
    height: 5vh;
    margin: 0 auto;

}
.friendsWrapper, .otherStories {
    display: grid;
    padding: 0 5vw;
    grid-template-columns: 1fr 1fr;
    gap: 2vh 5vw;
}
.friendStory, .otherStory {
    height: 20vh;
    box-shadow: 1px 5px 8px 5px #bfbfbf;
    padding: 2.5vmin;
    border-radius: 10%;
    cursor: pointer;
}
.friendStory:hover, .otherStory:hover {
    box-shadow: 1px 5px 8px 5px #888888;
}
.friendStory:active, .otherStory:active {
    box-shadow: 1px 5px 8px 5px #666666;
}
.friendStory img, .otherStory img {
    width: 10vmin;
    height: 10vmin;
    float: left;
}
.friendStory p, .otherStory p {
    padding-left: calc(10vmin + 5px);
}
#featuredStory {
    width: 80vw;
    margin: 0 10vw 5vh;
    box-shadow: 1px 5px 8px 5px #bfbfbf;
    cursor: pointer;
    height: 30vh;
    border-radius: 10%;
}
#featuredStory:hover {
    box-shadow: 1px 5px 8px 5px #888888;
}
#featuredStory:active {
    box-shadow: 1px 5px 8px 5px #666666;
}
#featuredStory p {
    padding-left: 5px;
}
#featuredStory img {
    width: 80vw;
    height: 10vh;
    object-fit: cover;
}
.friendsWrapper, .otherStories {
    box-sizing: content-box;
    padding-bottom: 10px;
}